/*Chart colors*/

.yellow1{color:#403B00;}
.yellow2{color:#807600;}
.yellow3{color:#FFEC00;}
.yellow4{color:#FFF799;}
.yellow5{color:#FFFBCC;}

.orange1{color:#331F02;}
.orange2{color:#673F05;}
.orange3{color:#CE7D09;}
.orange4{color:#D8973A;}
.orange5{color:#EBCB9D;}

.red1{color: #401819;}
.red2{color: #803133;}
.red3{color: #FF6165;}
.red4{color: #FFA0A3;}
.red5{color: #FFDFE0;}

.green1{color: #0A2C27;}
.green2{color: #15574D;}
.green3{color: #01f7b6;}
.green4{color: #7FCEC2;}
.green5{color: #D4EFEB;}

.blue1{color: #051427;}
.blue2{color: #09284E;}
.blue3{color: #12509B;}
.blue4{color: #7196C3;}
.blue5{color: #D0DCEB;}



.yellow1-bg{background-color:#403B00;}
.yellow2-bg{background-color:#807600;}
.yellow3-bg{background-color:#FFEC00;}
.yellow4-bg{background-color:#FFF799;}
.yellow5-bg{background-color:#FFFBCC;}

.orange1-bg{background-color:#331F02;}
.orange2-bg{background-color:#673F05;}
.orange3-bg{background-color:#CE7D09;}
.orange4-bg{background-color:#D8973A;}
.orange5-bg{background-color:#EBCB9D;}

.red1-bg{background-color: #401819;}
.red2-bg{background-color: #803133;}
.red3-bg{background-color: #FF6165;}
.red4-bg{background-color: #FFA0A3;}
.red5-bg{background-color: #FFDFE0;}

.green1-bg{background-color: #0A2C27;}
.green2-bg{background-color: #15574D;}
.green3-bg{background-color: #01f7b6;}
.green4-bg{background-color: #7FCEC2;}
.green5-bg{background-color: #D4EFEB;}

.blue1-bg{background-color: #051427;}
.blue2-bg{background-color: #09284E;}
.blue3-bg{background-color: #12509B;}
.blue4-bg{background-color: #7196C3;}
.blue5-bg{background-color: #D0DCEB;}



/* your code here | this overwrites foundation */

body{
	background-color: #fff;
}


h1, h2, h3, h4, h5, h6{
	font-family:'Source Sans Pro', Helvetica, Arial, sans-serif;
	
}

/* ai2HTML */



/* media queries*/
[id$="-desktop"],
[id*="-desktop "] {
	display: block;
}

[id$="-tablet"],
[id*="-tablet "] {
	display: none;
}

[id$="-mobile"],
[id*="-mobile "] {
	display: none;
}


@media  (max-width: 768px){
	[id$="-desktop"],
	[id*="-desktop "] {
		display: none;
	}

	[id$="-tablet"],
	[id*="-tablet "] {
		display: block;
	}

	[id$="-mobile"],
	[id*="-mobile "] {
		display: none;
	}
}

@media  (max-width: 480px){
	[id$="-desktop"],
	[id*="-desktop "] {
		display: none;
	}

	[id$="-tablet"],
	[id*="-tablet "] {
		display: none;
	}

	[id$="-mobile"],
	[id*="-mobile "] {
		display: block;
	}
}